<%= div_for comment do %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class='name'>
				<%= link_to	comment.user.email, "javascript:void(0);"  %> &nbsp;&nbsp;On&nbsp;&nbsp;
			</span>
			<%= comment.created_at.strftime('%a %d %b %Y')   %>
		</div>
		<div class="panel-body">
			<p><%= comment.body %></p>
		</div>
		<div class="panel-footer">
			<% if current_user.present? %>
				<%= link_to "Reply" , new_comment_path(article_id: comment.article_id,parent: comment.id) ,remote: true %>
				<% if current_user == comment.user && comment.replies.count == 0 %>
					<%= link_to "Delete" ,comment ,method: 'delete',remote: true,id: "remove_#{comment.id}" %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
<div class='nested_comments'>
	<% comment.replies.each do |reply| %>
		<%= render :partial => 'comments/comment', :locals => {comment: reply } %>
	<% end %>
</div>
