<h3>Article</h3>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 id="article" data-article-id="<%= @article.id %>" ><%= @article.title %></h3>
    <p >
      <span style="float: right; margin-right: 20px;position: relative; bottom: 10px;">
        Posted On: <%= @article.created_at.strftime('%a %d %b %Y')%>
      </span>
      <span style="float: left; margin-left: 2px;position: relative; bottom: 10px;">
        Author: <%= @article.author %>
      </span>
    </p>
  </div>
  <div class="panel-body">
    <%= @article.body %>
  </div>
  <div class="panel-body">
    <h2> Comments </h2>
    <div id="comments" class="list-group">
      <% @article.comments.where(parent: nil).each do |comment | %>
        <%= render :partial => "comments/comment", :locals => { :comment => comment } %>
      <% end %>        
      <div id="new_comment" class="comment">
          <div class="main">
            <div class="headline">
              <span class="position">New comment as</span>
              <span class="name">
                <%= link_to "Sourav","#" %>
                on <%= link_to @article.title, @article %>
              </span>
            </div>
            <div class="comment_content">
              <%= form_for @article.comments.build, :remote => true do |f| %>
                <div>
                  <%= f.hidden_field :article_id %>
                  <%= f.hidden_field :parent %>
                </div>
                <div class="field">
                  <%= f.text_area :body, :rows => '8', :cols => 65,placeholder: "Your comment..." %>
                </div>
                <div class="actions">
                  <%= f.submit("Post Comment") %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="clear"></div>
      </div>
    </div>  
  </div>
  <div class="panel-footer">
    <% if user_signed_in? && current_user == @article.user %>
      <%= link_to 'Edit', edit_article_path(@article) %> |
    <% end %> 
    <%= link_to "Back",@article.megazine %>    
  </div>
</div>
